.navContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 1.5em;
  gap: 50px;
}

.navContainer h1 {
  font-size: 1.5em;
}
.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
